In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# 파일 업로드
from google.colab import files
files.upload()

In [ ]:
# csv파일 읽어오기
d0725 = pd.read_csv('0725.csv', encoding='cp949')
d0726 = pd.read_csv('0726.csv', encoding='cp949')
d0727 = pd.read_csv('0727.csv', encoding='cp949')
d0728 = pd.read_csv('0728.csv', encoding='cp949')
d0729 = pd.read_csv('0729.csv', encoding='cp949')
d0730 = pd.read_csv('0730.csv', encoding='cp949')
d0731 = pd.read_csv('0731.csv', encoding='cp949')
d0801 = pd.read_csv('0801.csv', encoding='cp949')
d0802 = pd.read_csv('0802.csv', encoding='cp949')
d0803 = pd.read_csv('0803.csv', encoding='cp949')
d0804 = pd.read_csv('0804.csv', encoding='cp949')
d0805 = pd.read_csv('0805.csv', encoding='cp949')
d0806 = pd.read_csv('0806.csv', encoding='cp949')
d0807 = pd.read_csv('0807.csv', encoding='cp949')
d0808 = pd.read_csv('0808.csv', encoding='cp949')
d0809 = pd.read_csv('0809.csv', encoding='cp949')
d0810 = pd.read_csv('0810.csv', encoding='cp949')
d0811 = pd.read_csv('0811.csv', encoding='cp949')
d0812 = pd.read_csv('0812.csv', encoding='cp949')
d0813 = pd.read_csv('0813.csv', encoding='cp949')
d0814 = pd.read_csv('0814.csv', encoding='cp949')
d0815 = pd.read_csv('0815.csv', encoding='cp949')
d0816 = pd.read_csv('0816.csv', encoding='cp949')
d0817 = pd.read_csv('0817.csv', encoding='cp949')
d0818 = pd.read_csv('0818.csv', encoding='cp949')
d0819 = pd.read_csv('0819.csv', encoding='cp949')
d0820 = pd.read_csv('0820.csv', encoding='cp949')
d0821 = pd.read_csv('0821.csv', encoding='cp949')
d0822 = pd.read_csv('0822.csv', encoding='cp949')
d0823 = pd.read_csv('0823.csv', encoding='cp949')
d0824 = pd.read_csv('0824.csv', encoding='cp949')
d0825 = pd.read_csv('0825.csv', encoding='cp949')
d0826 = pd.read_csv('0826.csv', encoding='cp949')
d0827 = pd.read_csv('0827.csv', encoding='cp949')
d0828 = pd.read_csv('0828.csv', encoding='cp949')
d0829 = pd.read_csv('0829.csv', encoding='cp949')
d0830 = pd.read_csv('0830.csv', encoding='cp949')
d0831 = pd.read_csv('0831.csv', encoding='cp949')

In [ ]:
# 데이터 합치기(1)
df1 = pd.concat([d0725, d0726, d0727, d0728, d0729, d0730, d0731,d0801, d0802, d0803])
df2 = pd.concat([d0804, d0805, d0806, d0807,d0808, d0809, d0810, d0811, d0812, d0813])
df3 = pd.concat([d0814, d0815, d0816, d0817, d0818, d0819, d0820,d0821, d0822, d0823])
df4 = pd.concat([d0824, d0825, d0826, d0827, d0828, d0829, d0830, d0831])

In [ ]:
# 데이터 합치기(2)
df = pd.concat([df1,df2,df3,df4])

In [ ]:
# column 이름 확인
df.columns

In [ ]:
# 필요없는 열 정리
df = df[['date', 'week', 'car_name', 'price', 'engine', 'seater']]

In [ ]:
# 데이터타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2326 entries, 0 to 63
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1847 non-null   object
 1   week      1847 non-null   object
 2   car_name  1847 non-null   object
 3   price     1847 non-null   object
 4   engine    1847 non-null   object
 5   seater    1847 non-null   float64
dtypes: float64(1), object(5)
memory usage: 127.2+ KB

In [ ]:
# price column 정리(12,345원 -> 12345)
df['price'] = df['price'].str.replace(',','')
df['price'] = df['price'].str.replace('원','')

In [ ]:
# 확인
df.head()

In [ ]:
# 결측치 정리
df.dropna(inplace=True)

In [ ]:
# 데이터 타입 변경
df['date'] = pd.to_datetime(df['date'])
df['price'] = df['price'].astype('int')
df['seater'] = df['seater'].astype('int')

In [ ]:
# 데이터타입 확인
df.info()

In [ ]:
# 최종 파일 저장
df.to_csv('렌트카.csv', index=False)